<head>
    <title>Photoshare</title>
</head>

<body>
    {% if message %}
    <h4>{{message}}!</h4>
    {% endif %}
    <h1>Photos with this tag</h1>
    
    {% if tags %}
        {% for tag in tags %}
        <ul>
        <form method="post" enctype="multipart/form-data" action="/pictureWithTag/{{tag}}">
            {% if photos %}
            <h4>Here are the photos</h4>
            <ul>
                {% for photo in photos %}
                <li>
                    <img src='data:image/png;base64, {{photo[0]}}' width="40%"/><br />
                    <h4>Caption: {{photo[1]}}</h4>
                    <h4>User: {{photo[2]}}</h4>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h4>There are no photos for this tag</h4>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <h4>This picture has no tags</h4>
        {% endif %}
    <ul>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
</body>

